*
!.gitignore
!SaleSystem/


!SaleSystem/**/*

[Dd]ebug/
[Rr]elease/
x64/
x86/

*.ipch
*.pch
*.pdb
*.idb
*.ilk
*.obj
*.tlog
*.log
vs/
.vs/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


*.exe
*.dll
*.lib
*.exp