# Visual Studio 编译输出目录
[Dd]ebug/
[Rr]elease/
x64/
x86/

# 预编译头、调试文件
*.pch
*.pdb
*.idb
*.ilk
*.obj
*.tlog
*.log

# VS 配置与缓存
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# 可执行文件与库
*.exe
*.dll
*.lib
*.exp